@model BCore.Models.ViewModels.WarmViewModel

@foreach (var feed in Model.Feeds)
{
    <div>
        <div class="margin-top"></div><hr />

        @{
            await Html.RenderPartialAsync("_StatusLine", feed);
        }

        <div>
            <input asp-for="@feed.Id" type="hidden" />
            @for (var ii = 0; ii < (feed.Parts.Count() == 1 ? 1 : 2); ii++)
            {
                <div class="margin-top">
                   @if (feed.Parts[ii].PartType.Name == "text" && !String.IsNullOrWhiteSpace(feed.Parts[ii].Value))
                    {
                        <div class="wrap">
                            @if (ii == 0)
                            {
                                <h2><text hashing-text="@feed.Parts[ii].Value"></text></h2>
                            }
                            else
                            {
                                <div>
                                    <text hashing-text="@feed.Parts[ii].Value"></text>
                                </div>
                            }
                        </div>
                    }

                    @if (feed.Parts[ii].PartType.Name == "image" && !String.IsNullOrWhiteSpace(feed.Parts[ii].Value))
                    {
                        <img class="img-responsive" src="@feed.Parts[ii].Value" />
                    }
                </div>

                <input asp-for="@feed.Parts[ii].Id" type="hidden" />
            }
        </div>

        <div class="margin-top">
            <a class="btn btn-default" href="/Post?id=@feed.Id" role="button">read</a>
            <div class="btn-group pull-right">
            </div>
        </div>
    </div>
}
