@model BCore.Models.ViewModels.WhatsNewViewModel

@for (var ii = 0; ii < Model.Parts.Count(); ii++)
{
    <div class="margin-top">           
        @if (!String.IsNullOrWhiteSpace(Model.Parts[ii].Text))
        {
            <div class="wrap">
                @if (ii == 0)
                {
                    <h4><strong>@Model.Parts[ii].Text</strong></h4>
                }
                else
                {
                    <div>@Model.Parts[ii].Text</div>
                }
            </div>
        }
        
        @if (!String.IsNullOrWhiteSpace(Model.Parts[ii].ImageUrl))
        {          
            <img class="img-responsive" src="@Model.Parts[ii].ImageUrl">
        }                   
    </div>

    <input asp-for="@Model.Parts[ii].Text" type="hidden" />
    <input asp-for="@Model.Parts[ii].ImageUrl" type="hidden" />
}
