@model BCore.Models.ViewModels.WhatsNewViewModel

@for (var ii = 0; ii < Model.Parts.Count(); ii++)
{
    <div class="margin-top">           
        @if (Model.Parts[ii].PartType.Name == "text" && !String.IsNullOrWhiteSpace(Model.Parts[ii].Value))
        {
            <div class="wrap">
                @if (ii == 0)
                {
                    <h4>@Model.Parts[ii].Value</h4>
                }
                else
                {
                    <div>@Model.Parts[ii].Value</div>
                }
            </div>
        }
        
        @if (Model.Parts[ii].PartType.Name == "image" && !String.IsNullOrWhiteSpace(Model.Parts[ii].Value))
        {          
            <img class="img-responsive" src="@Model.Parts[ii].Value">
        }                   
    </div>

    <input asp-for="@Model.Parts[ii].Value" type="hidden" />
    <input asp-for="@Model.Parts[ii].PartType.Name" type="hidden" />
}
