@model BCore.Models.ViewModels.PostViewModel

@using Microsoft.AspNetCore.Identity
@using BCore.Dal.Ef;
@using BCore.Models;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<p>
    <div class="media">
        <div class="media-left">
            @{
                var user = await UserManager.FindByIdAsync(Model.UserId);
            }
            <span class="media-object" gravatar-email="@user.Email" image-size="64" width="64"></span>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><strong>@UserManager.GetUserName(User)</strong></h4>
            @Model.DateTime.ToString("dd.MM.yyyy hh:mm")            
            &nbsp; <a href="/Post/Index?id=@Model.Id"><i class="glyphicon glyphicon-comment"></i> @Model.Comments.Count</a>
            &nbsp; Tags:
            @foreach (var postHash in Model.PostHashes)
            {
                <a href="#"><span class="label label-info">@HashTag.HashTagPrefix@postHash.Tag</span></a>
            }
        </div>        
    </div>          
</p>